/* =================================== */


/* Universal Styling */


/* =================================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
background-color: transparent;
max-width: max-content;
margin-inline: auto;
text-align: center;
color: red;
text-decoration: underline;
font-family: "Bebas Neue",cursive;
}

main {
background-position: center;
text-align: center;
}
section p {
  background-color: black;
}

section {
  background-color: #ccc;
}


body {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 13px;
  background-image: url('../images/red.jpg');
}


/* =================================== */

/* Menu Styling */


/* =================================== */
.menu ul {
  list-style: none;
}
.menu > ul > li {
    display: inline-block;
    width: 5%;
    margin-bottom: 1px;
    position: relative;
    vertical-align: top;
}




/*  */
